In [22]:
import matplotlib.pyplot as plt
import koreanize_matplotlib
import seaborn as sns
import warnings
import pandas as pd
warnings.simplefilter(action='ignore', category=FutureWarning)

In [23]:
df = pd.read_csv('../data/subway_user_year_v1_5.csv', index_col=0)
df = df.loc[df['조사연도'] == 2023]
df

,조사연도,호선명,역명,06시,07시,08시,09시,10시,11시,12시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,환승여부
0,2023,1호선,동대문,11190,12877,20197,34191,33805,33944,38914,...,47490,46898,45366,43532,41134,32754,25336,22636,18361,Y
1,2023,1호선,동묘앞,3358,7307,12120,24016,21734,25416,36277,...,58229,56147,48969,37361,25077,14362,9488,9366,8460,Y
2,2023,1호선,서울역,13990,52859,129585,265248,191913,125908,134271,...,133509,161585,176419,236816,288749,165631,150624,114133,76219,Y
3,2023,1호선,시청,5856,22443,67360,192501,92053,47941,54538,...,60602,66873,71422,104950,175739,67952,95058,51872,33430,Y
4,2023,1호선,신설동,9530,15027,36825,77257,47193,34667,34674,...,39307,41188,46266,56647,74450,38427,25804,23758,18700,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2023,중앙선,망우,7431,12551,31373,33978,22054,20273,19643,...,22424,23285,26392,28834,37226,27825,10676,12877,11584,N
372,2023,중앙선,상봉,6007,8841,23089,28601,17966,12745,13667,...,14913,16459,16796,20829,29634,23907,8950,12048,11550,Y
373,2023,중앙선,양평,1431,4278,8031,10186,8098,9786,10129,...,11416,11550,11368,12086,11346,7457,4844,5210,4189,N
374,2023,중앙선,중랑,5924,10027,22975,25432,18871,12712,12752,...,14187,16288,18124,21251,27067,20209,6878,10458,10176,N
375,2023,중앙선,회기,14099,29294,74024,109334,71935,60333,60417,...,67981,76840,82523,98616,112770,80185,40548,55335,56943,N

In [24]:
df['sum'] = df.iloc[:,3:21].sum(axis=1)
df['morning'] = df.loc[:,'07시':'09시'].sum(axis=1)
df['evening'] = df.loc[:,'17시':'19시'].sum(axis=1)
df

,조사연도,호선명,역명,06시,07시,08시,09시,10시,11시,12시,...,18시,19시,20시,21시,22시,23시,환승여부,sum,morning,evening
0,2023,1호선,동대문,11190,12877,20197,34191,33805,33944,38914,...,43532,41134,32754,25336,22636,18361,Y,599784,67265,130032
1,2023,1호선,동묘앞,3358,7307,12120,24016,21734,25416,36277,...,37361,25077,14362,9488,9366,8460,Y,499309,43443,111407
2,2023,1호선,서울역,13990,52859,129585,265248,191913,125908,134271,...,236816,288749,165631,150624,114133,76219,Y,2726849,447692,701984
3,2023,1호선,시청,5856,22443,67360,192501,92053,47941,54538,...,104950,175739,67952,95058,51872,33430,Y,1322353,282304,352111
4,2023,1호선,신설동,9530,15027,36825,77257,47193,34667,34674,...,56647,74450,38427,25804,23758,18700,Y,696447,129109,177363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2023,중앙선,망우,7431,12551,31373,33978,22054,20273,19643,...,28834,37226,27825,10676,12877,11584,N,392124,77902,92452
372,2023,중앙선,상봉,6007,8841,23089,28601,17966,12745,13667,...,20829,29634,23907,8950,12048,11550,Y,297765,60531,67259
373,2023,중앙선,양평,1431,4278,8031,10186,8098,9786,10129,...,12086,11346,7457,4844,5210,4189,N,153552,22495,34800
374,2023,중앙선,중랑,5924,10027,22975,25432,18871,12712,12752,...,21251,27067,20209,6878,10458,10176,N,282401,58434,66442
375,2023,중앙선,회기,14099,29294,74024,109334,71935,60333,60417,...,98616,112770,80185,40548,55335,56943,N,1229058,212652,293909

In [25]:
# df['호선명'] = df['호선명'].str.replace('호선', '')
# df['merge'] = df['호선명'] + df['역명']
# df_1 = df.loc[df['조사연도'] == 2023, ['merge', 'sum']]
# df_1['merge'].value_counts()

In [26]:
df.loc[df['역명']=='신도림']

,조사연도,호선명,역명,06시,07시,08시,09시,10시,11시,12시,...,18시,19시,20시,21시,22시,23시,환승여부,sum,morning,evening
36,2023,2호선,신도림,33676,64362,161847,239529,142220,112575,112289,...,200514,281565,189438,114814,123918,109264,Y,2562639,465738,640072
293,2023,경부선,신도림,2345,5290,13439,22880,11382,8344,7857,...,16692,24639,12530,8732,7824,6517,Y,196547,41609,52731

In [27]:
(df['역명'].value_counts() == 2).sum()

np.int64(47)

In [28]:
df1 = df.groupby(by='역명').sum().reset_index()
df1
df.loc[df['역명']=='신도림']

,조사연도,호선명,역명,06시,07시,08시,09시,10시,11시,12시,...,18시,19시,20시,21시,22시,23시,환승여부,sum,morning,evening
36,2023,2호선,신도림,33676,64362,161847,239529,142220,112575,112289,...,200514,281565,189438,114814,123918,109264,Y,2562639,465738,640072
293,2023,경부선,신도림,2345,5290,13439,22880,11382,8344,7857,...,16692,24639,12530,8732,7824,6517,Y,196547,41609,52731

In [29]:
df1 = df1.sort_values(by='sum', ascending=False)
df1 = df1.reset_index(drop=True)
df1.head(30)[['역명', '호선명', 'sum']]
df1.to_csv('sort_sum.csv')
df1

,역명,조사연도,호선명,06시,07시,08시,09시,10시,11시,12시,...,18시,19시,20시,21시,22시,23시,환승여부,sum,morning,evening
0,잠실,4046,2호선8호선,19576,83632,214604,405802,322711,228206,237927,...,435753,559622,365864,397234,267171,205280,YY,5194890,704038,1346608
1,서울역,10115,1호선4호선경부선경의선공항철도 1호선,24098,97194,245019,460901,325796,220855,233563,...,411497,501571,295473,251044,203909,140926,YYYYY,4756511,803114,1217898
2,홍대입구,6069,2호선경의선공항철도 1호선,37949,55719,110724,209480,199723,164728,202937,...,408761,484791,367369,363598,293882,277901,YYY,4625083,375923,1236319
3,강남,2023,2호선,20720,65990,171696,333966,351250,195603,167947,...,366336,480236,311655,315962,225747,212947,Y,4331681,571652,1110558
4,고속터미널,4046,3호선7호선,12324,59810,110780,175861,197076,191391,218774,...,317358,316787,229746,309180,149931,99818,YY,3657799,346451,918556
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305,운천,2023,경의선,0,0,0,0,20,120,0,...,119,0,0,0,0,0,N,336,0,152
306,신내,2023,6호선,0,0,0,0,1,0,1,...,0,0,0,0,1,0,Y,4,0,1
307,신중동,2023,7호선,0,0,0,0,0,0,0,...,1,0,0,0,0,0,N,2,0,1
308,굴포천,2023,7호선,0,0,0,0,0,0,0,...,0,0,0,0,0,0,N,1,0,0
309,춘의,2023,7호선,0,0,0,0,0,0,0,...,0,0,0,0,0,0,N,1,0,0

In [30]:
df1.head(30)[['역명', 'sum', 'morning',	'evening']]

         역명      sum  morning  evening
0        잠실  5194890   704038  1346608
1       서울역  4756511   803114  1217898
2      홍대입구  4625083   375923  1236319
3        강남  4331681   571652  1110558
4     고속터미널  3657799   346451   918556
5        선릉  3547166   660854   926236
6        사당  3433269   540275   886495
7   가산디지털단지  3145125   801844   906708
8   구로디지털단지  3004641   669304   743515
9        신림  2982777   584938   685405
10       삼성  2871467   516631   769783
11       역삼  2851275   567529   719639
12      신도림  2759186   507347   692803
13     종로3가  2745572   243273   723553
14     건대입구  2744981   334733   734082
15       시청  2580200   580132   704438
16       합정  2552461   331529   682463
17    을지로입구  2459840   488751   657257
18       용산  2433724   305035   623327
19       교대  2421409   369895   629049
20      영등포  2404630   298519   638359
21    서울대입구  2379561   411486   565415
22       성수  2167063   412829   599276
23       노원  2150831   303582   530425
24       공덕  2023223   415497   550221
25       종각  2020715   385253   544766
26       양재  2001927   437679   536287
27       신촌  1996494   220907   510534
28       혜화  1909102   209506   489754
29      압구정  1858812   246065   460010

In [32]:
df1.to_csv("../data/subway_complexity_toprank.csv", encoding='utf-8')